.g-ru-sticky-container {
    &__sticky {
        position: sticky;
        z-index: 1;

        background-color: var(--g-color-base-background);
        box-shadow: 0 4px 4px -3px var(--g-color-sfx-shadow-light);

        top: var(--g-ru-sticky-container-top);
    }
}
