.g-ru-full-value-dialog {
    &__full-value {
        word-break: break-all;
        max-width: 90vw;
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: auto;
    }

    &__full-value-radio-buttons {
        width: 200px;
    }
}
