.g-ru-full-value-dialog {
    &__full-value {
        max-width: 90vw;
        max-height: 90vh;
        overflow: auto;
        word-break: break-all;
    }

    &__full-value-radio-buttons {
        width: 200px;
    }
}
